Source: ollama
Section: unknown
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 make,
 golang
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/ollama

Package: ollama
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Get up and running with large language models.

